<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <!-- Encabezado de la pagina -->
    <header>
      <nav> 
        <ul>
          <li><a href="/">Tienda 🛒</a></li>
          <li><a href="/admin/add-product">➕ Agregar producto</a></li>
          
        </ul>
      </nav>
    </header>
    <!-- Sección principal de la página -->
    <main>
             <center><h1>  4️⃣0️⃣4️⃣ </h1><br>
                <h2> OOPS! </h2><br>
                <h3>⛔ Recurso no encontrado ⛔</h3></center>
    </main>
  </body>
</html>
